@font-face {
  font-family:  "raleway";
  font-style: normal;
  font weight:  800;
  src: url("fonts/raleway/raleway-800.woff2") format("woff2");
  font-display:swap;
}

@font-face {
    font-family:  "rubik";
    font-style: normal;
    font weight:  400;
    src: url("fonts/rubik/rubik-400.woff2") format("woff2");
    font-display:swap;
}

@font-face {
    font-family:  "raleway";
    font-style: normal;
    font weight:  700;
    src: url("fonts/rubik/rubik-700") format("woff2");
    font-display:swap;
}

.navigation-list {
    font-family: "raleway", sans-serif
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase
}