@font-face {
  font-family:  "Raleway";
  font-style: normal;
  font weight:  800;
  src: url("fonts/raleway/raleway-800.woff2") format("woff2");
  font-display:swap;
}

@font-face {
    font-family:  "Rubik";
    font-style: normal;
    font weight:  400;
    src: url("fonts/rubik/rubik-400.woff2") format("woff2");
    font-display:swap;
}

@font-face {
    font-family:  "Raleway";
    font-style: normal;
    font weight:  700;
    src: url("fonts/rubik/rubik-700") format("woff2");
    font-display:swap;
}
html {
    height: 100%;
}
body {
    display: flex;
    margin: 0;
    flex-direction: column;
    min-height: 100%;
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    background-color: white;
}
.main-container{
    flex-grow:1;
}
button.button-main {
    display: inline;
    width: 210px;
    height: 20px;
    margin-left: 745px;
    margin-top: -190px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    color: #000000;
}
button.search-button {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
    color: #000000;
}
header.page-header {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: flex-start;
    width: 1440px;
    min-height: 750px;
    background-color:#FFFFFF;
}
div.header{
    display: flex;
    flex-direction: row;
    background-color: #FFE17F;
    width: 1160px;
    min-height: 300px;
    margin-top: 40px;
    margin-left: 140px;
    margin-right: 140px;
}
div.quadcopt{
    display: inline-block;
    width: 560px;
    min-height: 560px;
    margin-top: -150px;
    margin-left: 140px;
    
}
h1.main{
    display: block;
    width: 700px;
    min-height: 100px;
    margin-left: 740px;
    margin-top: -450px;
    
}
p.description{
    display: block;
    width: 560px;
    min-height: 60px;
    margin-left: 740px;
}
div.description{
    display: block;
    width: 140px;
    margin-left: 740px;
    margin-top: 40px;
}
div.advantage{
    display: block;
    width: 140px;
    margin-left: 900px;
    margin-top: -92px;
}
ul.products{
    display: block;
    margin: 0 auto;

}
.link {
    font-family: "Raleway", "Arial", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
}
.link.delivery,
.link.warranty,
.link.contacts {
    color: #F0F0F0;
}
.text-white-number-01 {
    font-weight: 700;
    font-size: 180px;
    line-height: 30px;
    color: #FFFFFF;
}
h2.navigation {
    font-size: 16px;
    line-height: 19px;
}
.icons {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
}
.icons.number {
    font-size: 14px;
    line-height: 17px;
}
header a {
    text-decoration: none;
}
main a {
    text-decoration: none;
}
a.pagination-link {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}
li {
    list-style-type: none;
}
h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px
}
.description,
.advantage {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    line-height: 30px;
}
.description-800m,
.advantage-50m {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 30px;
}
address.description {
    font-size: 16px;
}
a.description {
    font-size: 16px;
    line-height: 19px;
}
.more {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
}
.products {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
}
div.content {
    background-color: #FFE17F;
   width: 160px;
   height: 160px;
}
div.delivery-warranty-credit{
    background-color: #F0F0F0;
    width: 1440px;
    height: 289px;
}
.item {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}
.delivery.text {
    color: #FFE17F;
}
.only {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 20px;
    line-height: 23px;
}
div.delivery-only {
    background-color: #F0F0F0;
    width: 1160px;
    height: 100px;
}
.comp {
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
}
li.comp {
    font-size: 18px;
}
span.comp {
    font-size: 18px;
    line-height: 20px;
}
legend.comp {
    font-size: 18px;
    line-height: 20px;
}
h3.comp {
    font-size: 18px;
    line-height: 20px;
}
a.download {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
}
.mailing {
    background-color: #F0F0F0;
}
footer {
    background-color: #444444;
}
a.tel {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-decoration: underline;
    color: #000000;
    font-style: normal;
}
a.tel.white{
    color: #F0F0F0;
}
address.description{
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #F0F0F0;
}
.inner {
    background-color: #F0F0F0;
}
section.catalog {
    background-color: #FFFFFF;
}